body{
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
    padding: 0%;
}

#button1{
    border-radius: 12px;
    border-color: hsl(321, 100%, 78%);
    background-color: white;
    color: hsl(321, 85%, 37%);
    position: absolute;
    right: 40px;
    margin-top: 6px;
}
.button2{
    border-radius: 30px;
    position: relative;
    left: 570px;
    height: 50px;
    width: 300px;
    border-color: hsl(321, 100%, 78%);
    background-color: hsla(321, 84%, 52%, 0.848);
    font-size:small ;
    color: white;
    margin-top: 20px;
}


h1,h2{
    font-family: 'Poppins', sans-serif;
    width: 550px;
    margin: 0 auto;
  
}


h1{
    display: inline;
}

.icon{
    height: 20px;
    width: 20px;
}

nav{
    margin-left: 10px;
}
header{
    /* position: sticky;
    top:00px; */
    background-color: gray;
    margin-top: 0%;
    margin-left: 0%;
    
}


header p{
    width: 23%;
    position: relative;
    left: 550px;
   
    font-size: smaller;
    text-align: center;
    
}
#top p{
    width: 23%;
    position: relative;
    left: 550px;
   
    font-size: smaller;
    text-align: center;
    

}

#top{
    margin-top: 80px;  

}

#MainImage{
    position: relative;
    left: 24%;
    margin-top: 40px;
    height: 525px;
   
}


/*  */
h3{
    font-size: 65px;
  
}

section  div {
    text-align: center;
} 

 section div h3{
    display: inline;
}

article p{
    background-color: red;
    margin: 0%;
}

span{
    margin-left: 400px;
}
#mid p{
    display: inline;
    margin-left: 400px;
    color:gray;

}



/*  */

.imagetext{
   
    height: 500px;
    background-size:contain;
    background-repeat: no-repeat;
    
   
    
}

h4{
    width: 400px;
   
    position: relative;
    top: 150px;
    left: 100px;
    font-size: 30px;
    margin-bottom: 0%;
}
#grow p{
    width: 400px;
  
    position: relative;
    top: 170px;
    left: 100px;
    margin-top: 0%;
    font-size: 10px;
}

#grow{
    background-image: url("images/illustration-grow-together.svg");
    background-color: hsl(207, 100%, 98%);background-position: right;
   
}

#flow{
    background-color:white;
    background-image: url("images/illustration-flowing-conversation.svg");
    background-position: left;
}
#flow p{
    width: 400px;
   
    position: relative;
    top: 170px;
    left: 60%; margin-top: 0%;
    font-size: 10px;
}
#flow strong{
    width: 200px;
    
    position: relative;
    top: 150px;
    left: 60%;  font-size: 30px;
    margin-bottom: 0%;
}
#users{
    background-color:hsl(207, 100%, 98%); 
    background-image: url("images/illustration-your-users.svg");
    background-position: right;
}

#users p{
    width: 400px;
    
    position: relative;
    top: 170px;
    left: 100px;
    margin-top: 0%;
    font-size: 10px;
}

#users strong{
    width: 400px;
    position: relative;
    top: 150px;
    left: 100px;
    font-size: 30px;
    margin-bottom: 0%;
}
