#button1{
    border-radius: 12px;
    border-color: hsl(321, 100%, 78%);
    background-color: white;
    color: hsl(321, 85%, 37%);
    position: absolute;
    right: 40px;
    margin-top: 6px;
}
.button2{
    border-radius: 30px;
    position: relative;
    left: 570px;
    height: 50px;
    width: 300px;
    border-color: hsl(321, 100%, 78%);
    background-color: hsla(321, 84%, 52%, 0.848);
    font-size:small ;
    color: white;
    margin-top: 20px;
}


h1,h2,h3{
    font-family: 'Poppins', sans-serif;
    width: 550px;
    margin: 0 auto;
  
}

body{
    font-family: 'Open Sans', sans-serif;
   

}

h1{
    display: inline;
}

.icon{
    height: 20px;
    width: 20px;
}

nav{
    margin-left: 10px;
}
header{
    /* position: sticky;
    top:00px; */
    background-color: gray;
    margin-top: 0%;
    margin-left: 0%;
    
}


p{
    width: 23%;
    position: relative;
    left: 550px;
   
    font-size: smaller;
    text-align: center;
    
}

#top{
    margin-top: 80px;  

}

#MainImage{
    position: relative;
    left: 24%;
    margin-top: 40px;
    height: 525px;
   
}
